<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ website_title }}</title>
</head>
<body>
  <h1>{{ website_title }}</h1>
  <p>Deployed with Ansible.</p>
  <p>Server: {{ inventory_hostname }}</p>
</body>
</html>
